.card_black{
    color: black;
    text-align: center;
    background-color: rgb(215, 215, 215);
    margin: 1px;
    width: 52px;
    height: 40px;
    display: inline;
    display: inline-block;
    font-size: 30px;
}

.card_red{
    color: red;
    margin: 1px;
    text-align: center;
    background-color: rgb(215, 215, 215);
    width: 52px;
    height: 40px;
    display: inline;
    display: inline-block;
    font-size: 30px;
}



